.main-header{
    display: grid;
  grid-auto-flow: column;
  place-items: start;
  padding:20px;
  background-color: unset;
  color:white;

}
.main-header h2{
  margin-top:5px;
  cursor: pointer;
}
.fa-redo{
  place-self: center;
 margin-top:10px;
 font-size: 17px;
 cursor: pointer;
}
.header-form{
  display: grid;
  grid-auto-flow: column;
  gap:30px;
  place-content: center;
  justify-self: end;
  padding:0 60px;
  margin-right:50px;
  
}
.header-form input{
  margin-top:10px;
  background-color: rgba(255, 255, 255, 0.1);
  color:white;
  border:none;
  border-radius: 5px;
  outline: none;
 padding:5px 10px;
 width:300px;
}
.header-form input::placeholder{
  color:white;
}

@media screen and (max-width:900px){
  .main-header{
    /* width: 75%; */
  }
  .header-form{
    margin:0;
    margin-left:20px ;
  }
}