.title{
    font-size:90px;
    color:white;
   margin-bottom: 30px;
  }

  @media screen and (max-width:1000px){
      .title{
          font-size:90px;
      }
  }

  @media screen and (max-width:900px){
      .title{
          font-size:4rem;
      }
  }