.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}


/* Intro page */
.intro-container{
  display: grid;
  grid-template-rows: 300px auto;
  place-items: center;
   height:100vh;
  width: 100vw;
  background-color: #9AD0EC;
  /* background:url('https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') */
  background:url('https://images.pexels.com/photos/531767/pexels-photo-531767.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: cover;
  padding:20px;
}
.title{
  font-size:90px;
  color:white;
}
.search-form{
  display: grid;
  grid-template-columns: auto 100px;
    width: 650px;
  padding:20px;
    margin-bottom: 300px;
  margin-left: 50px;
 
}
.search-form input{
  width:100%;
  border: none;
  border-bottom:solid 1px white;
  background-color: unset;
  outline: none;
  font-size:20px;
}
input::placeholder{
  color:white;
  padding:10px;
}
.search-btn{
  padding:10px;
  font-size: 15px;
  width:50px;
  /* border:solid 1px white; */
  background-color: unset;
  border:none;
  border-bottom: solid 1px white;
  cursor: pointer;
}
.fa-search{
  color:white;
}
.main-container{
  height:100vh;
  /* background-color: pink; */
  display: grid;
  place-items: center;
}
/* Current Weather Component */
.current-container{
  display:grid;
  border:solid 1px black;
  place-items: center;
  width: 800px;
}

.temp-info{
  display: grid;
  grid-template-columns: 100px auto 50px;
  place-content: center;
  padding:10px 50px;
  gap:10px;
}
.temp{
  font-size: 120px;
  /* border: solid 1px black; */
 
}
.icon{
  width: 100px;
 align-self: center;
  /* border: solid 1px black; */
  margin-top:20px;
 
}
.button-container{
  display: grid;
  align-self: start;
  
}
.button-container button{
  cursor: pointer;
  border:none;
  background-color: unset;
  
}
.condition-text{
  font-size: 40px;
}

.additional-info{
  display: grid;
  grid-template-columns: repeat(3,150px);
  /*  */
  padding:30px 50px;
  font-size: 14px;
  /* border: solid 1px black; */
}